<div id="search-container">
  <div id="search" class="card card-body bg-light mb-2">
    <form id="search-form" #form="ngForm" (submit)="submit(form.value.searchlimit)">
      <h5 class="mt-2">Limit: </h5>
      <div class="form-group">
        <select name="searchlimit" id="searchlimit" class="form-control" [(ngModel)]="searchlimit">
          <option value="5">5</option>
          <option value="10">10</option>
          <option value="25">25</option>
          <option value="50">50</option>
          <option value="100">100</option>
        </select>
      </div>
      <button type="submit" class="btn btn-dark btn-block mt-4">Show current Crypto Currency rates</button>

      <div *ngIf="currencies$ | async as currencies$" class="row mt-2">
        <div *ngFor="let c of currencies$" class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
          <div class="card mb-2">
            <div class="card-body">
              <h5 class="card-title">{{c.name}}</h5>
              <span class="badge badge-success">Price USD: {{c.price_usd | currency}}</span>
              <a class="nav-link" [routerLink]="['/curr-detail', c.id]">Show detail
                </a>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div id="results"></div>
</div>
